# Your First Data Science Codealong!

## Introduction

In this codealong, you'll get to do your first taste of a real data science workflow! You'll use Jupyter Notebook to import pre-written libraries, import data into your notebook from a Comma Seperated Values file (a .csv file) and you'll even get to create some plots!

Don't worry if it feels like a lot or you get confused on this codealong. Our goal here is just to give you a taste of what you'll be able to do as a data scientist, and afterwards, we'll go back and re-introduce all of the concepts that we skimmed over this time through, so by the end of the section you should have a much stronger understanding of this - even if you have no previous experience of programming.

Don't worry about running tests for this notebook. Just take your time to explore the data and the code.

## Objectives
You will be able to:
* Code along (following detailed instructions) to import a csv file and then plot the data

## Jupyter Notebook and Running Cells

**Welcome to programming!**
Juptyer Notebooks (historically called IPython Notebooks) will be our primary tool when conducting data science. The first thing to know with this is that each cell block [of code] can be run be pressing **shift+enter**. Try running the below code block:

In [1]:
print('This is code being run.')

This is code being run.

## Importing Packages
The next thing we're going to do is load in some python packages that will be part of our toolbox for manipulating and analyzing data. The standard python package for working with data tables is called **pandas**. Below, we import this under the **alias** pd, which is the industry standard. This will give us a shorthand way to access special functions and methods within the package without having to type the longer name pandas. 

* Again, press **shift+enter** to run the code below

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Jupyter Notebook Cell Types

You might have started to notice that the code blocks have little notes that say **In [ ]:** before you run them, and then are filled with a number after you run them. This is important, as it tells you what order cell blocks were run. (Which can sometimes affect how a program runs.)

You may also notice that other cell blocks, such as this one, do not have the **In [ ]:** label as with the code blocks. This is because this cell block is formatted as **Markdown** rather then code. You can see (and change) what type of cell is by clicking the dropdown menu at the top:
<img src="images/jupyter_notebook_cell_type_dropdown.png" width="750">

## Command Versus Edit Mode

You should also start to notice that when you are in a cell writing code (or notes), the cell is highlighted in **green** meaning you are in **edit mode**. 

Alternatively, if you **press esc**, the cursor will be in **blue** inidicating that you are in **command mode**.

### Edit Mode
Edit mode is the standard mode for editing cells, whether its writing code or notes.
To enter edit mode from command mode simply hit enter, or double click on a cell.

### Command Mode
In command mode, you can delete cells, add cells, copy cells, paste cells, change cell types, and more. You can also do these tasks in a more cumbersome (and time consuming) manner by using the various headers in the menu bar at top.
<img src="images/jupyter_menu.png" width="800">
You can also see a full list of shortcuts available in command and edit mode under the help menu.

<img src="images/jupyter_help_menu.png" width="800">

## Running Bash Commands

We can also run bash commands just as we did before from the terminal directly within iPython notebooks!  
 (Note: bash commands cannot be mixed with python and must be in their own cell block.)   
 
Try it out!

In [3]:
pwd

'/home/communal-snippet-9680/dsc-first-codealong-nyc-ds-career-042219'

In [4]:
ls

CONTRIBUTING.md  index_files/  lego_sets.csv*  README.md
images/          index.ipynb   LICENSE.md

## Loading a DataFrame
The primary datatype within the pandas package is called a dataframe and is similar to a spreadsheet in excel. Here's a brief example of loading a csv file from your hard drive:

In [5]:
df = pd.read_csv('lego_sets.csv') #Loads the dataframe in
print(len(df)) #Prints the length of the dataframe
df.head() #Uses a built in method common to all Pandas Dataframes

12261

,ages,list_price,num_reviews,piece_count,play_star_rating,prod_desc,prod_id,prod_long_desc,review_difficulty,set_name,star_rating,theme_name,val_star_rating,country
0,6-12,29.99,2.0,277.0,4.0,Catapult into action and take back the eggs fr...,75823.0,Use the staircase catapult to launch Red into ...,Average,Bird Island Egg Heist,4.5,Angry Birds™,4.0,US
1,6-12,19.99,2.0,168.0,4.0,Launch a flying attack and rescue the eggs fro...,75822.0,Pilot Pig has taken off from Bird Island with ...,Easy,Piggy Plane Attack,5.0,Angry Birds™,4.0,US
2,6-12,12.99,11.0,74.0,4.3,Chase the piggy with lightning-fast Chuck and ...,75821.0,Pitch speedy bird Chuck against the Piggy Car....,Easy,Piggy Car Escape,4.3,Angry Birds™,4.1,US
3,12+,99.99,23.0,1032.0,3.6,Explore the architecture of the United States ...,21030.0,Discover the architectural secrets of the icon...,Average,United States Capitol Building,4.6,Architecture,4.3,US
4,12+,79.99,14.0,744.0,3.2,Recreate the Solomon R. Guggenheim Museum® wit...,21035.0,Discover the architectural secrets of Frank Ll...,Challenging,Solomon R. Guggenheim Museum®,4.6,Architecture,4.1,US

## Python Comments

Note the green text following the **#**.  
Anything following a **#** in python is a comment and will not actually execute.  
This is a useful feature for annotating your code with notes for yourself and other later so that your code is easy to read.

## Accessing Methods from Packages and Objects

A little more theory and context:

When we loaded in packages on our first cell block (import pandas as pd), we loaded code into memory. That code included functions, variables and other objects. Collectively, all of these items is loaded under the package name or alias.  

We demonstrated this when we used the **pd.read_csv()** method above.  

This also demonstrates the **dot notation** in python, which is how we access built in methods or attriubtes of a given object. Similar to what we saw with bash in the command line, we can also use **tab completion** to preview methods available in packages or other objects.  

### Try this out yourself

* In the cell below, navigate your cursor to the right of **pd.**
* Press tab to see a list of available methods/attributes

<img src="images/pd_methods.png" width="600">

In [7]:
pd.read_excel

<function pandas.io.excel.read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=True, **kwds)>

You can also start typing to subset the list of available commands:
<img src="images/pd_read_methods.png" width="500">

## Pulling up Docstrings

Even better, you can even see how a method works by pulling up its **docstring**!  
You can do this by writing **?** after the method and running the cell.

<img src="images/docstring.png" width="800"> 


Try it out!

In [8]:
pd.read_csv?

Alternatively, you can pull up a preview of the docstring by pressing **shift+tab within the parentheses of a method**
<img src="images/docstring_preview.png" width="800">

In [ ]:
pd.read_csv() #Move your cursor inside the parentheses and press shift+tab

## Variables

The other thing that happened in our block of code above was that we defined a **variable**.  

This happened in the first line of code:  
```df = pd.read_csv('lego_sets.csv')```

As we saw, we used the built in *read_csv* method from the *pandas* package which we imported under the *alias* *pd*.  

The output of this method was then assigned to the variable *df*. This is the standard syntax for declaring any variable. You do not have to specify variable types, as in many other programming languages. Simply:  

`variable_name = what_to_stor_in_the_variable`

## Built-in Python Functions

We also used two built in python functions:  
    * len() #Returns the lenght of an object
    * print() #Prints stuff!
In general, **python has reserved keywords** for built in functions like this. 
**Be sure to not name your variables any of these!**

<img src="images/python_built_in_functions.png" width="700">

You can also check what type of object something is using the built in **type()** method. This can be useful when determining how to work with an object that you are unfamiliar with.

In [9]:
type(df)

pandas.core.frame.DataFrame

## Common DataFrame Methods
As you can see, our variable **df** is a DataFrame object (which is part of the Pandas core package). Here's some other common methods you will want to become familiar with when working with Pandas dataframes:  
* df.head() 
    * Preview the first 5 rows of a dataframe. Pass a number for more/less rows
* df.tail(10) 
    * Preview last 10 rows (default 5 if no number given)
* df.info() 
    * Returns column names and details about each column
* df.columns 
    * Return column names. Note that there is no parentheses for this. This is becuase this is an attribute as opposed to a method

In [12]:
df.info()
#Practice using some of these methods

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 14 columns):
ages                 12261 non-null object
list_price           12261 non-null float64
num_reviews          10641 non-null float64
piece_count          12261 non-null float64
play_star_rating     10486 non-null float64
prod_desc            11884 non-null object
prod_id              12261 non-null float64
prod_long_desc       12261 non-null object
review_difficulty    10206 non-null object
set_name             12261 non-null object
star_rating          10641 non-null float64
theme_name           12258 non-null object
val_star_rating      10466 non-null float64
country              12261 non-null object
dtypes: float64(7), object(7)
memory usage: 1.3+ MB

In [14]:
df.index
df.tail #Use tab completion to investigate at least 3 other methods under the df object. 
#Pull up their docstrings and investigate what they do.

<bound method NDFrame.tail of        ages  list_price  num_reviews  piece_count  play_star_rating  \
0      6-12     29.9900          2.0        277.0               4.0
1      6-12     19.9900          2.0        168.0               4.0
2      6-12     12.9900         11.0         74.0               4.3
3       12+     99.9900         23.0       1032.0               3.6
4       12+     79.9900         14.0        744.0               3.2
5       12+     59.9900          7.0        597.0               3.7
6       12+     59.9900         37.0        598.0               3.7
7       12+     49.9900         24.0        780.0               4.4
8       12+     39.9900         23.0        468.0               3.6
9       12+     39.9900         11.0        444.0               3.6
10      12+     39.9900         14.0        386.0               4.1
11      12+     34.9900         53.0        321.0               3.2
12      12+     29.9900          7.0        361.0               4.2
13     7-12    159.9900         63.0        847.0               3.8
14      10+     29.9900         13.0        708.0               4.7
15      10+     19.9900          1.0        234.0               3.0
16      10+     19.9900          1.0        160.0               5.0
17      10+      9.9900          1.0        149.0               2.0
18      10+      9.9900          1.0        141.0               2.0
19      10+      9.9900          3.0        101.0               4.0
20      10+      9.9900          2.0        105.0               3.0
21      10+      9.9900          1.0        113.0               5.0
22      10+      9.9900          1.0        136.0               NaN
23      10+      9.9900          2.0         91.0               3.0
24      10+      9.9900          7.0        140.0               3.2
25      10+      9.9900          5.0        143.0               4.6
26      10+      9.9900          3.0        122.0               2.7
27      10+      9.9900          5.0        130.0               4.3
28      10+      9.9900          3.0        119.0               4.5
29      10+      9.9900          1.0        135.0               1.0
...     ...         ...          ...          ...               ...
12231  7-14     48.7878          5.0        267.0               3.6
12232  7-14     48.7878         12.0        293.0               4.9
12233  8-14     42.6878         24.0        305.0               4.5
12234  7-14     42.6878         18.0        254.0               4.2
12235  7-14     30.4878          2.0        198.0               4.0
12236  7-14     30.4878          8.0        204.0               4.1
12237  7-14     30.4878         19.0        201.0               4.1
12238  6-12     18.2878          7.0        141.0               4.0
12239  6-12     18.2878         18.0        124.0               4.5
12240    5+      4.8678         13.0          8.0               4.3
12241  8-14    103.6878          9.0        643.0               4.4
12242   16+    365.9878         88.0       4867.0               4.8
12243  9-14    225.6878         52.0       2295.0               4.7
12244  9-14    134.1878         15.0       1403.0               4.5
12245  9-14    103.6878          9.0        830.0               4.6
12246  9-14    103.6878         11.0       1202.0               4.7
12247  9-14     97.5878          6.0        914.0               4.8
12248  9-14     97.5878         19.0        944.0               3.6
12249  9-14     82.9478          8.0        876.0               4.7
12250  8-14     73.1878          8.0        747.0               4.3
12251  8-14     60.9878          7.0        521.0               4.7
12252  8-14     60.9878         29.0        544.0               4.6
12253  8-14     48.7878         21.0        494.0               4.6
12254  7-14     36.5878         10.0        312.0               3.5
12255  8-14     36.5878          8.0        341.0               4.2
12256  7-14     36.5878          6.0        341.0               4.4
12257  7-14     24.3878          8.0        217.0               4.1
12258  7-14     24.3878         18.0        233.0               4.6
12259  6-14     12.1878          1.0         48.0               5.0
12260  6-14     12.1878         11.0        109.0               4.5

                                               prod_desc  prod_id  \
0      Catapult into action and take back the eggs fr...  75823.0
1      Launch a flying attack and rescue the eggs fro...  75822.0
2      Chase the piggy with lightning-fast Chuck and ...  75821.0
3      Explore the architecture of the United States ...  21030.0
4      Recreate the Solomon R. Guggenheim Museum® wit...  21035.0
5      Celebrate Shanghai with this LEGO® Architectur...  21039.0
6      Celebrate New York City with this LEGO® Archit...  21028.0
7      Recreate Buckingham Palace with LEGO® Architec...  21029.0
8      Celebrate London with this LEGO® Architecture ...  21034.0
9      Celebrate Chicago with this LEGO® Architecture...  21033.0
10       Experience the grandeur of the Arc de Triomphe!  21036.0
11     Build your own LEGO® interpretation of the ico...  21019.0
12     Celebrate Sydney with this LEGO® Architecture ...  21032.0
13                   Bring your LEGO® creations to life!  17101.0
14         Build a LEGO® BrickHeadz version of yourself!  41597.0
15     Train a raptor with LEGO® BrickHeadz™ Owen and...  41614.0
16     Join Mr. Incredible and Frozone for LEGO® Bric...  41613.0
17     Growl like a Wookiee with a LEGO® BrickHeadz™ ...  41609.0
18     Be a rogue with a LEGO® BrickHeadz™ constructi...  41608.0
19     Save the universe with LEGO® BrickHeadz Iron M...  41604.0
20     Feel the power of Infinity with LEGO® BrickHea...  41605.0
21     Be a legendary outlaw with LEGO® BrickHeadz St...  41606.0
22     Master the skills of a green-skinned assassin ...  41607.0
23     Join the Resistance with a LEGO® BrickHeadz co...  41485.0
24     Say “I love you” with a LEGO® BrickHeadz™ Vale...  40270.0
25       Stand tall with LEGO® BrickHeadz Wonder Woman™!  41599.0
26     Live life in the fast lane with LEGO® BrickHea...  41598.0
27     Summon the dark side with a LEGO® BrickHeadz c...  41603.0
28     Feel the Force with a LEGO® BrickHeadz constru...  41602.0
29               Dive in with LEGO® BrickHeadz Aquaman™!  41600.0
...                                                  ...      ...
12231               Party on with Superman™ and friends!  70919.0
12232              Join Batman™ in a comical food fight!  70920.0
12233  Put the heat on The Penguin™ Arctic Roller wit...  70911.0
12234  Battle with Batman™ against The Riddler™ and h...  70903.0
12235  Bring down Captain Boomerang™ with Batman’s Ba...  70918.0
12236  Help Batman™ to stop Scarecrow™ delivering a s...  70910.0
12237  Protect the power plant from Mr. Freeze’s ice ...  70901.0
12238  Power into the sky to stop Scarecrow’s fear ga...  70913.0
12239             Help Batman™ stop The Joker™ escaping!  70900.0
12240  Discover new heroes and villains in LEGO® Mini...  71020.0
12241           Launch a space mission from the Batcave!  70923.0
12242         Live the life of a ninja in NINJAGO® City!  70620.0
12243            Join the ninja aboard Wu’s flying ship!  70618.0
12244                 Evade the traps inside the Temple!  70617.0
12245  Defend NINJAGO® City from Garmadon Shark Mech ...  70656.0
12246   Turn sound into a weapon with Cole’s Quake Mech!  70632.0
12247       Take on the shark army with Zane’s Ice Tank!  70616.0
12248  Put the heat on the shark army with Kai’s Fire...  70615.0
12249      Speed to the rescue with Jay’s Lightning Jet!  70614.0
12250      Defend NINJAGO® City against Garma Mecha Man!  70613.0
12251       Get all fired up at Garmadon’s Volcano Lair!  70631.0
12252  Take on Garmadon with the Green Ninja Mech Dra...  70612.0
12253  Smash the shark army out of the water with the...  70611.0
12254  Battle against evil Jungle Garmadon on the jun...  70608.0
12255  Take on the tentacular Flying Jelly Sub with Jay!  70610.0
12256  Protect NINJAGO® City from flying Manta Ray Bo...  70609.0
12257         Stop a Piranha Attack with Kai and Misako!  70629.0
12258   Stop a crime in the NINJAGO® City street market!  70607.0
12259  Achieve Spinjitzu greatness with the Green Ninja!  70628.0
12260  Practice your Spinjitzu skills with Kai and Zane!  70606.0

                                          prod_long_desc review_difficulty  \
0      Use the staircase catapult to launch Red into ...           Average
1      Pilot Pig has taken off from Bird Island with ...              Easy
2      Pitch speedy bird Chuck against the Piggy Car....              Easy
3      Discover the architectural secrets of the icon...           Average
4      Discover the architectural secrets of Frank Ll...       Challenging
5      Recreate Shanghai in China's blend of historic...           Average
6      Celebrate the architectural diversity of New Y...           Average
7      Build a LEGO® brick model of London's official...           Average
8      Celebrate the architectural diversity of Londo...           Average
9      Recreate Chicago’s blend of historical and mod...           Average
10     Capture the architectural elegance of one of t...           Average
11     Presenting the LEGO® Architecture interpretati...           Average
12     Capture the architectural essence and splendor...              Easy
13     Take your LEGO® play to the next level with th...           Average
14     Fuel your creativity by making a LEGO® BrickHe...           Average
15     These LEGO® BrickHeadz™ 41614 Owen & Blue cons...              Easy
16     These LEGO® BrickHeadz™ 41613 Mr. Incredible &...         Very Easy
17     This LEGO® BrickHeadz™ 41609 Chewbacca is fun ...         Very Easy
18     This LEGO® BrickHeadz™ 41608 Han Solo is fun t...         Very Easy
19     This Iron Man MK50 LEGO® BrickHeadz constructi...           Average
20     This Thanos LEGO® BrickHeadz construction char...              Easy
21     This Star-Lord LEGO® BrickHeadz construction c...              Easy
22     This Gamora LEGO® BrickHeadz construction char...               NaN
23     This LEGO® BrickHeadz construction character f...              Easy
24     Build your way to someone’s heart and say “Bee...              Easy
25     This Wonder Woman™ LEGO® BrickHeadz constructi...              Easy
26     The Flash™ LEGO® BrickHeadz construction chara...         Very Easy
27     This LEGO® BrickHeadz construction character f...              Easy
28     This LEGO® BrickHeadz construction character f...              Easy
29     This Aquaman™ LEGO® BrickHeadz construction ch...         Very Easy
...                                                  ...               ...
12231  Recreate the hilarious scene from THE LEGO® BA...              Easy
12232  Help Batman™ fend off Egghead™ and Condiment K...           Average
12233  Join Batman’s pursuit of The Penguin in THE LE...              Easy
12234  Take on four Super-Villains at once in THE LEG...              Easy
12235  Glide over bumps in the Gotham City streets an...               NaN
12236  Save Gotham City Energy Facility from a fear g...           Average
12237  Help Batman™ defend the Gotham City Energy Fac...              Easy
12238  Team up with Batman™ to stop Scarecrow™ spread...              Easy
12239  Stage a face-off between The Joker™ and Batman...              Easy
12240  Bring exciting new play possibilities to exist...         Very Easy
12241  Take off from the Batcave in The Bat-Space Shu...           Average
12242  Enjoy endless role-play fun in NINJAGO® City, ...       Challenging
12243  Construct Wu’s huge ninja training base, Desti...       Challenging
12244  Join a ninja mission to infiltrate THE LEGO® N...           Average
12245  Help Lloyd to save Nomis and Nancy from Garmad...           Average
12246  Fire ‘soundwaves’ from Cole’s Quake Mech to sa...           Average
12247  Help Zane save Patty Keys and Torben from the ...           Average
12248  Get set for sizzling battle action with this h...           Average
12249  Save Ed and Edna from the shark army’s crab wi...           Average
12250  Help Lloyd protect civilian Pat from attack by...           Average
12251  Join Zane’s mission to infiltrate evil Garmado...           Average
12252  Outwit The Green Ninja’s evil father Garmadon ...           Average
12253  Launch into battle against the shark army and ...           Average
12254  Team up with Wu and Kai to take on Jungle Garm...              Easy
12255  Join ninja Jay in battle against the shark arm...           Average
12256  Help Cole save Shen-Li in this cool THE LEGO® ...              Easy
12257  Play out an action-packed Piranha Mech pursuit...              Easy
12258  Team up with Lloyd Garmadon, Nya and Officer T...              Easy
12259  Learn all the skills of Spinjitzu with THE LEG...         Very Easy
12260  Join the ninja heroes at the dojo with this ac...              Easy

                                     set_name  star_rating  \
0                       Bird Island Egg Heist          4.5
1                          Piggy Plane Attack          5.0
2                            Piggy Car Escape          4.3
3              United States Capitol Building          4.6
4               Solomon R. Guggenheim Museum®          4.6
5                                    Shanghai          4.9
6                               New York City          4.2
7                           Buckingham Palace          4.7
8                                      London          4.7
9                                     Chicago          4.8
10                            Arc de Triomphe          4.4
11                           The Eiffel Tower          4.6
12                                     Sydney          4.6
13                     BOOST Creative Toolbox          3.4
14                                Go Brick Me          4.8
15                                Owen & Blue          5.0
16                   Mr. Incredible & Frozone          5.0
17                                 Chewbacca™          3.0
18                                  Han Solo™          4.0
19                              Iron Man MK50          4.7
20                                     Thanos          5.0
21                                  Star-Lord          5.0
22                                     Gamora          5.0
23                                       Finn          4.5
24                            Valentine's Bee          4.9
25                              Wonder Woman™          5.0
26                                 The Flash™          4.0
27                                  Kylo Ren™          5.0
28                                        Rey          5.0
29                                   Aquaman™          4.0
...                                       ...          ...
12231   The Justice League™ Anniversary Party          3.2
12232                Egghead™ Mech Food Fight          4.8
12233              The Penguin™ Arctic Roller          4.8
12234               The Riddler™ Riddle Racer          4.2
12235                      The Bat-Dune Buggy          4.5
12236             Scarecrow™ Special Delivery          4.4
12237                  Mr. Freeze™ Ice Attack          4.6
12238             Scarecrow™ Fearful Face-off          4.1
12239               The Joker™ Balloon Escape          4.7
12240         THE LEGO® BATMAN MOVIE Series 2          4.8
12241                   The Bat-Space Shuttle          4.8
12242                           NINJAGO® City          4.9
12243                        Destiny's Bounty          4.9
12244  Temple of The Ultimate Ultimate Weapon          4.8
12245           garmadon, Garmadon, GARMADON!          4.9
12246                              Quake Mech          4.5
12247                                Ice Tank          4.8
12248                               Fire Mech          4.2
12249                           Lightning Jet          5.0
12250                         Garma Mecha Man          4.5
12251                 Garmadon's Volcano Lair          4.3
12252                 Green Ninja Mech Dragon          4.7
12253                           Water Strider          4.5
12254                            Master Falls          4.0
12255                        Flying Jelly Sub          4.6
12256                        Manta Ray Bomber          4.3
12257                          Piranha Attack          3.6
12258                     NINJAGO® City Chase          4.6
12259                Lloyd - Spinjitzu Master          5.0
12260                      Spinjitzu Training          4.7

                      theme_name  val_star_rating country
0                   Angry Birds™              4.0      US
1                   Angry Birds™              4.0      US
2                   Angry Birds™              4.1      US
3                   Architecture              4.3      US
4                   Architecture              4.1      US
5                   Architecture              4.4      US
6                   Architecture              4.1      US
7                   Architecture              4.3      US
8                   Architecture              4.1      US
9                   Architecture              4.5      US
10                  Architecture              3.6      US
11                  Architecture              4.4      US
12                  Architecture              4.2      US
13                         BOOST              3.5      US
14                    BrickHeadz              4.8      US
15                    BrickHeadz              5.0      US
16                    BrickHeadz              5.0      US
17                    BrickHeadz              4.0      US
18                    BrickHeadz              4.0      US
19                    BrickHeadz              4.5      US
20                    BrickHeadz              5.0      US
21                    BrickHeadz              5.0      US
22                    BrickHeadz              NaN      US
23                    BrickHeadz              4.0      US
24                    BrickHeadz              4.7      US
25                    BrickHeadz              5.0      US
26                    BrickHeadz              3.0      US
27                    BrickHeadz              4.8      US
28                    BrickHeadz              4.5      US
29                    BrickHeadz              3.0      US
...                          ...              ...     ...
12231     THE LEGO® BATMAN MOVIE              3.4      PT
12232     THE LEGO® BATMAN MOVIE              4.6      PT
12233     THE LEGO® BATMAN MOVIE              4.4      PT
12234     THE LEGO® BATMAN MOVIE              4.4      PT
12235     THE LEGO® BATMAN MOVIE              4.0      PT
12236     THE LEGO® BATMAN MOVIE              4.1      PT
12237     THE LEGO® BATMAN MOVIE              4.4      PT
12238     THE LEGO® BATMAN MOVIE              4.4      PT
12239     THE LEGO® BATMAN MOVIE              4.6      PT
12240                Minifigures              4.0      PT
12241     THE LEGO® BATMAN MOVIE              3.5      PT
12242  THE LEGO® NINJAGO® MOVIE™              4.8      PT
12243  THE LEGO® NINJAGO® MOVIE™              4.8      PT
12244  THE LEGO® NINJAGO® MOVIE™              4.8      PT
12245  THE LEGO® NINJAGO® MOVIE™              4.8      PT
12246  THE LEGO® NINJAGO® MOVIE™              4.4      PT
12247  THE LEGO® NINJAGO® MOVIE™              4.7      PT
12248  THE LEGO® NINJAGO® MOVIE™              4.6      PT
12249  THE LEGO® NINJAGO® MOVIE™              4.6      PT
12250  THE LEGO® NINJAGO® MOVIE™              4.5      PT
12251  THE LEGO® NINJAGO® MOVIE™              5.0      PT
12252  THE LEGO® NINJAGO® MOVIE™              4.5      PT
12253  THE LEGO® NINJAGO® MOVIE™              4.8      PT
12254  THE LEGO® NINJAGO® MOVIE™              3.6      PT
12255  THE LEGO® NINJAGO® MOVIE™              4.5      PT

    ## Pandas Series

While the entire spreadsheet is called a **dataframe**, each individual column is known as a **series**. You can access a specific column of a pandas dataframe one of two ways:  

`df['col_name']`

or  

```df.col_name```

First note that in `df['col_name']` we need 'quotations' around the column name. The quotations denote the column name is a **string**, python's built in variable type for storing text. This can alternatively be replaced with double quotes `df["col_name"]`. In general, anything in quotations is a string in python code. Occassionally, with very ill formatted column names with quotations in the names themselves, you may even need to wrap a name in triple quotes `df["""col_name"""]` . This will rarely happen in this particular context, but is also the general pattern for dealing with messy strings.   

Note that the second method, `df.col_name`, will only work if there are no spaces within the name of the column. Similarly to tab completion with the command line, this is a primary reason why programers use dashes (-) and underscores (_) in lieu of whitespace in their variable and file names. Also note that no quotations are used when using this format. (The column names have been stored as attributes to the DataFrame object!)

In [18]:
df['list_price'] #Previewing Data

0         29.9900
1         19.9900
2         12.9900
3         99.9900
4         79.9900
5         59.9900
6         59.9900
7         49.9900
8         39.9900
9         39.9900
10        39.9900
11        34.9900
12        29.9900
13       159.9900
14        29.9900
15        19.9900
16        19.9900
17         9.9900
18         9.9900
19         9.9900
20         9.9900
21         9.9900
22         9.9900
23         9.9900
24         9.9900
25         9.9900
26         9.9900
27         9.9900
28         9.9900
29         9.9900
           ...
12231     48.7878
12232     48.7878
12233     42.6878
12234     42.6878
12235     30.4878
12236     30.4878
12237     30.4878
12238     18.2878
12239     18.2878
12240      4.8678
12241    103.6878
12242    365.9878
12243    225.6878
12244    134.1878
12245    103.6878
12246    103.6878
12247     97.5878
12248     97.5878
12249     82.9478
12250     73.1878
12251     60.9878
12252     60.9878
12253     48.7878
12254     36.5878
12255     36.5878
12256     36.5878
12257     24.3878
12258     24.3878
12259     12.1878
12260     12.1878
Name: list_price, Length: 12261, dtype: float64

In [17]:
df.head(2) #preview your spreadsheet again; 2 keeps it a nice small preview

,ages,list_price,num_reviews,piece_count,play_star_rating,prod_desc,prod_id,prod_long_desc,review_difficulty,set_name,star_rating,theme_name,val_star_rating,country
0,6-12,29.99,2.0,277.0,4.0,Catapult into action and take back the eggs fr...,75823.0,Use the staircase catapult to launch Red into ...,Average,Bird Island Egg Heist,4.5,Angry Birds™,4.0,US
1,6-12,19.99,2.0,168.0,4.0,Launch a flying attack and rescue the eggs fro...,75822.0,Pilot Pig has taken off from Bird Island with ...,Easy,Piggy Plane Attack,5.0,Angry Birds™,4.0,US

In [20]:
df.ages.head(10)

0    6-12
1    6-12
2    6-12
3     12+
4     12+
5     12+
6     12+
7     12+
8     12+
9     12+
Name: ages, dtype: object

In [21]:
df.ages[:5] #Here we introduce another new syntax the list slice [:5] this limits us to the first 5 items

0    6-12
1    6-12
2    6-12
3     12+
4     12+
Name: ages, dtype: object

## List and Series Slices
Above, we introduced an entirely new programming pattern called a slice.  
The syntax for a slice is `[start:end]`.   

You can also pass an additional third parameter `[start:end:count_by]` which will allow you to:  
count every other: `[start:end:2]`  
count backwards: `start:end:-1]`  
or potentially much more cryptic patterns, depending on what you pass.  

While we could have also used `df.State.head()`, slicing works for many more datatypes. This includes the previously mentioned *strings* as well as **lists** and other iterable objects. **Series**, the columns of the pandas DataFrame are similar to python's built in *lists*, but also have additional *methods* built in to them that we will continue to investigate.

In [24]:
df.piece_count[:20:2]

0     277.0
2      74.0
4     744.0
6     598.0
8     468.0
10    386.0
12    361.0
14    708.0
16    160.0
18    141.0
Name: piece_count, dtype: float64

## Common Series Methods
Some very useful series methods include:  
* df.col_name.value_counts()
* df.col_name.astype()
* series.mean()     #Changing notation here: series refers to df.col_name (which is a series)!
* series.median()
* series.min()
* series.max()
* series.std()
* series.unique()
* series.nunique()
* series.sample()
* series.sort_values()

There are also many more but this is a very good starting point.
Start pulling up some docstrings (using shift+tab within parentheses!) and getting acquainted with reading them yourself before we go through a few of these methods together.

In [25]:
df.play_star_rating.value_counts() #Read the docstring and tinker! See how it works.

5.0    2219
4.5    1136
4.7     840
4.0     816
4.3     793
4.6     685
4.4     566
4.8     504
4.2     467
4.1     320
3.9     281
3.6     213
4.9     204
3.5     204
3.0     202
3.2     192
3.7     186
3.8     148
2.0     126
3.3     120
2.7      64
1.0      42
2.2      42
2.5      42
3.4      25
2.9      21
2.3      20
3.1       4
2.8       2
2.1       2
Name: play_star_rating, dtype: int64

In [ ]:
df.play_star_rating.series.()

In [ ]:
docstring by pressing shift+tab within the parentheses of a method

In [ ]:
#Keep tinkering!

## Graphing

Our bread and butter tool for graphing in python will be **matplotlib**. 
There are a number of other packages you can also check out for visualization later on such as plotly, folium, and bokeh to name a few, but matplotlib is an industry standard used widely. As with the pandas package, we must import  the matplotlib package to use its built in functions and methods. Rather then import the entire package however, we import only the piece we intend to use (hence the dot notation) and again alias this under the shorthand *plt*. Finally, the iPython magic command **% matplotlib inline** makes these graphs appear within our jupyter notebook.

In [ ]:
#import a subset of the matplotlib package under the alias 'plt'
import matplotlib.pyplot as plt

#ipython magic command for displaying graphs within the notebook
%matplotlib inline

In [ ]:
to_graph = df.theme_name.value_counts()[:5]
to_graph.plot(kind='barh')

## Adding labels
The graph above is a good start, but we should be sure to add some labels! To do this we make successive calls to the `plt` package we imported. Some common methods you should be familiar with include:  
* plt.title()
* plt.xlabel()
* plt.ylabel()
* plt.legend()
* plt.xticks()
* plt.yticks()

In [ ]:
to_graph = df.theme_name.value_counts()[:5]
to_graph.plot(kind='barh') #lots of other optional parameters can be passed such as color
plt.title('Top 5 Lego Themes', fontsize=16) #fontsize is optional
plt.xlabel('Number of Lego Sets') #you could also pass in fontsize if you wanted here
plt.ylabel('Theme') #you could also rotate text if you wanted

## Practice and Explore

Take a minute to try chaining some of these methods together to create a few of your own visuals for practice. Some ideas can include making a scatter plot with `plt.scatter(x , y)` where you pass in two series (one as x and the other as y), plotting histograms with the `series.hist()` method, or creating simple bar graphs as shown above.

In [ ]:
plt.scatter(df.play_star_rating, df.star_rating)

In [ ]:
df.play_star_rating.hist()

In [ ]:
#Your code here

## Summary

Congratulations, you made it through your first real data science workflow!